* {
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    margin: 0;
    font-family: "Inter", sans-serif;
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 200px;
    border: 1px solid lightgray;
    border-radius: 10px;
    height: 350px;
    box-shadow: 5px 5px 5px 1px rgba(120,120,120,0.44);
    -webkit-box-shadow: 5px 5px 5px 1px rgba(120,120,120,0.44);
    -moz-box-shadow: 5px 5px 5px 1px rgba(120,120,120,0.44);
}

.card--image {
    width: 100%;
    padding: 10%;
    padding-bottom: 0;
}

.card--name {
    margin-block: 13px;
    color: #333333;
}

.card--info {
    padding: 10px;
}

.card--favorite {
    width: 25px;
    cursor: pointer;
}

.card--contact {
    font-size: 0.75rem;
    color: gray;
    margin-block: 7px;
}