* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #0B2434;
    padding: 20px;
    font-family: 'Karla', sans-serif;
}

main {
    background-color: #F5F5F5;
    height: 600px;
    max-width: 1500px;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.title {
    font-size: 80px;
    margin: 0;
}

.dice-container {
    display: grid;
    grid-template: auto auto / repeat(5, 1fr);
    gap: 45px;
    margin-bottom: 80px;
}

.die-face {
    height: 100px;
    width: 100px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.die-num {
    font-size: 4rem;
}

.roll-dice {
    height: 100px;
    width: 300px;
    border: none;
    border-radius: 12px;
    background-color: #5035FF;
    color: white;
    font-size: 2.4rem;
    font-family: 'Karla', sans-serif;
    cursor: pointer;
}

.roll-dice:focus {
    outline: none
}

.roll-dice:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}