* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 20px;
}

input {
    margin-bottom: 15px;
    height: 30px;
    text-indent: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    display: block;
}

textarea {
    margin-bottom: 15px;
    border: 1px solid #444;
    border-radius: 5px;
    display: block;
}